.loader {
  width: 100px;
  height: 100px;
  border: 8px solid #fff;
  border-left: 8px solid gray;
  border-radius: 50%;
  animation: spin 1s linear infinite forwards;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}
